li{list-style: none;
    display: inline;
    background-color: black;
    margin-right: 18px;
    line-height: 36px;
    margin-bottom: 36px;
    user-select: none;
}
body{
    margin:50px;
}
input{
    margin-left: 50px;
}
p{
    margin-left: 50px;
}
ul{
    margin-right: 50px;
}